In [ ]:
import requests
import json
from time import sleep

In [ ]:
url = "https://www.instagram.com/explore/tags/fakeaccount/?__a=1"

In [ ]:
sessionId = "48118356474%3AHX4poiiXwfxhmj%3A27"
headers = {"sessionid": sessionId}
response = requests.get(url,cookies=headers)

In [ ]:
r = json.loads(response.text)
try:
    max_id = r['graphql']['hashtag']['edge_hashtag_to_media']['page_info']['end_cursor']
    print(f"New cursor is {max_id}")
except KeyError:
    print("There's no next page!")

In [ ]:
r['graphql']['hashtag']['edge_hashtag_to_media']['page_info']['end_cursor']

In [ ]:
from json_processor import collect_values

In [67]:
import pandas as pd

In [71]:
df = pd.read_csv("fake_account_posts.csv")

In [72]:
df.code.unique().size

1082

In [73]:
df

,code,ts,max_id
0,CLTKJ3cMcE9,1623257728,NaN
1,CLKYVfrJF0V,1623257728,NaN
2,CMiJb1BszJX,1623257728,NaN
3,CM--1wBpJZD,1623257728,NaN
4,CLHAP_nn0wH,1623257728,NaN
...,...,...,...
1501,COmg0iLJpPI,1623259327,QVFDQm4xaW93eVVXVjdZd0VHM0dzRVhfdEpCRy10bmtzQT...
1502,COmgyb9p9Ub,1623259327,QVFDQm4xaW93eVVXVjdZd0VHM0dzRVhfdEpCRy10bmtzQT...
1503,COmguStJWrN,1623259327,QVFDQm4xaW93eVVXVjdZd0VHM0dzRVhfdEpCRy10bmtzQT...
1504,COmgpv2paPY,1623259327,QVFDQm4xaW93eVVXVjdZd0VHM0dzRVhfdEpCRy10bmtzQT...
1505,COmgk19JdBY,1623259327,QVFDQm4xaW93eVVXVjdZd0VHM0dzRVhfdEpCRy10bmtzQT...